@media only screen and (min-width: 1281px) {
      .reactPlayer {
        width: 640px;
      }
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    .reactPlayer {
        width: 640px;
      }
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  @media (min-width: 768px) and (max-width: 1024px) {
    .reactPlayer {
        width: 640px;
      }
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  @media only screen and (min-width: 320px) and (max-width: 480px) {
    .reactPlayer {
        max-width: 100%;
      }
  }
  
  
  
  
  