* {
  margin: 0; 
  padding: 0;
  outline: 0;
  box-sizing: 0;
}

html, body, #root {
  min-height: 100%
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media only screen and (min-width: 1281px) {
  body {
    background-image: url('./assets/background.png');
    background-position: center;
    background-repeat:  no-repeat;
    background-size: cover;
    height: 100%;
  }  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  body {
    background-image: url('./assets/background.png');
    background-position: center;
    background-repeat:  no-repeat;
    background-size: cover;
    height: 100%;
   
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  body {
    background-image: url('./assets/backgroundIpad.png');
    background-position: center;
    background-repeat:  no-repeat;
    background-size: cover;
    
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
  body {
    background-image: url('./assets/backgroundMobile.png');
    background-position: center;
    background-repeat:  no-repeat;
    background-size: cover;
  
  }
}




